<footer class="footer">
  <div class="footer__header view-port">
    <div class="footer__brand">Secret Project</div>
    <ul class="footer__nav">
      <li class="nav__item">
        <a href="#" class="nav__link">Домой</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">О нас</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Новости</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Помощь</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Условия использования</a>
      </li>
    </ul>
  </div>
  <div class="footer__content view-port">
    <div class="footer__block footer__text">
      © 2018 - ...  Сайт поиска работы №1 в Украине.
    </div>
    <div class="footer__block footer__map">
      <ul class="footer__list">
        <li class="list__item">
          <i class="fa fa-angle-right list__icon"></i><a href="#" class="list__link">Текст</a>
        </li>
        <li class="list__item">
          <i class="fa fa-angle-right list__icon"></i><a href="#" class="list__link">Текст</a>
        </li>
        <li class="list__item">
          <i class="fa fa-angle-right list__icon"></i><a href="#" class="list__link">Текст</a>
        </li>
        <li class="list__item">
          <i class="fa fa-angle-right list__icon"></i><a href="#" class="list__link">Текст</a>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="list__item">
          <i class="fa fa-angle-right list__icon"></i><a href="#" class="list__link">Текст</a>
        </li>
        <li class="list__item">
          <i class="fa fa-angle-right list__icon"></i><a href="#" class="list__link">Текст</a>
        </li>
        <li class="list__item">
          <i class="fa fa-angle-right list__icon"></i><a href="#" class="list__link">Текст</a>
        </li>
        <li class="list__item">
          <i class="fa fa-angle-right list__icon"></i><a href="#" class="list__link">Текст</a>
        </li>
      </ul>
    </div>
    <div class="footer__block footer__contact">
      <p class="contact__item"><i class="fa fa-phone contact__icon"></i> +380997065342</p>
      <p class="contact__item"><i class="fa fa-envelope contact__icon"></i> whynotmonkeys2191@gmail.com</p>
      <p class="contact__item">Мб еще какая то дичь будет</p>
      <p class="contact__item">Смотреть выше</p>
    </div>
  </div>
</footer>
